body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    max-width: 520px;
    width: 100%;
    margin-top: 5rem;
    padding: 5px;
}

.listItem {
    justify-content: space-between;
}

.todoListItemBody {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.todoListItemButtons {
    display: flex;
    padding-left: 10px;
}

.listItem:hover {
    border-left: 4px solid pink;
}

.date {
    font-style: italic;
    color: gray;
}